<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>New Employee Status</title>
        <style>
            form {
                margin-top: 100%;
            }
            span.required {
                color: red;
                margin-left: 5px;
            }
          </style>
    </head>
    <body>
        <div class="container">
            <div class="right-column">
                <div class="bottomrow">
                    <form class="row g-3">
                        <h2>New Employee Status</h2>
                        <div class="col-md-4">
                            <label for="status" class="form-label">Status</label>
                            <input type="text" class="form-control" id="status">
                        </div>
                        <div class="col-md-4">
                            <label for="description" class="form-label">Status Description</label>
                            <input type="text" class="form-control" id="description">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </body>
</html>