<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>New Model</title>
        <style>
            form {
                margin-top: 100%;
            }
            span.required {
                color: red;
                margin-left: 5px;
            }
          </style>
    </head>
    <body>
        <div class="container">
            <div class="right-column">
                <div class="bottomrow">
                    <form class="row g-3" onsubmit="createModel(); return false" >
                        <h2>New Model</h2>
                        <div class="col-md-4">
                            <label for="make" class="form-label">Make</label>
                            <select id="make" class="form-select" onchange="myFunction()" required>
                              <option selected></option>
                              <% makes.forEach(function(make){ %>
                                <option value=<%= make[0] %>><%= make[1] %></option>
                              <% }); %>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="model" class="form-label">Model Name</label>
                            <input type="text" class="form-control" id="model">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            async function postData(url = "", data) {
                const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data),
                });
                return response.json();
            };
            async function createModel() {
                const make = document.getElementById("make").value;
                const model = document.getElementById("model").value;
                const formdata = {
                    "make_id":make,
                    "model": model
                }
                postData("http://localhost:3000/vehicle-model", formdata)
                .then((data) => {
                    console.log("Data saved to database: ", data);
                    window.location.href = '/success';
                }).catch((error)=> {
                    console.log(error);
                });
            }
            
        </script>
    </body>
</html>