<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs'); %>
    <title>Create Order Form</title>
    <style>
      form {
        margin-top: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="right-column">
        <div class="bottomrow">
        <form class="row g-3">
          <h2>Add Vehicle</h2>
          <div class="col-md-4">
            <label for="make" class="form-label">Make</label>
            <select id="make" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="model" class="form-label">Model</label>
            <select id="model" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div></div>
          <div class="col-8">
            <label for="year" class="form-label" placeholder="YYYY">Year</label>
            <input type="text" class="form-control" id="input-year">
          </div>
          <div class="col-8">
            <label for="color" class="form-label">Color</label>
            <select id="color" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div class="col-8">
            <label for="input-plate" class="form-label">Liscense Plate</label>
            <input type="text" class="form-control" id="input-plate">
          </div>
          <div class="col-8">
            <label for="input-vin" class="form-label">VIN</label>
            <input type="text" class="form-control" id="input-vin"
          </div><!--Leave this DIV red plz, if you add a '>' and the top here ^ then the submit button turns into a japanese font. idk ok-->
        </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <script>
      //We need some functions here so that the dropdowns in the for above can pull from the DB
    </script>       
  </body>
</html>