<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>New Make</title>
        <style>
            form {
                margin-top: 100%;
            }
            span.required {
                color: red;
                margin-left: 5px;
            }
          </style>
    </head>
    <body>
        <div class="container">
            <div class="right-column">
                <div class="bottomrow">
                    <form class="row g-3" onsubmit="createMake()">
                        <h2>New Make</h2>
                        <div class="col-md-4">
                            <label for="make" class="form-label">Make Name</label>
                            <input type="text" class="form-control" id="make">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            async function postData(url = "", data) {
                const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data),
                });
                return response.json();
            };
            function createMake() {
                const make = document.getElementById("make").value;
                const formdata = {
                    "make":make
                };
                postData("http://localhost:3000/vehicle-make", formdata)
                .then((data) => {
                    window.location.href = '/success';
                }).catch((error)=>{
                    console.error(error);
                });
            };
        </script>
    </body>
</html>