<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>New Service</title>
        <style>
            form {
                margin-top: 100%;
            }
            span.required {
                color: red;
                margin-left: 5px;
            }
          </style>
    </head>
    <body>
        <div class="container">
            <div class="right-column">
                <div class="bottomrow">
                    <form class="row g-3" onsubmit="createService(); return false">
                        <h2>New Service</h2><p><span class="required">*</span> Indicates field is required</p>
                        <div class="col-md-4">
                            <label for="service" class="form-label">Service</label>
                            <input type="text" class="form-control" id="service">
                        </div>
                        <div class="col-md-4">
                            <label for="price" class="form-label">Service Price</label>
                            <input type="number" class="form-control" id="price" placeholder="$">
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script>
            async function postData(url = "", data) {
                const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data),
                });
                return response.json();
            };
            function createService(){
                const service = document.getElementById("service").value;
                const price = document.getElementById("price").value;
                const formdata = {
                    "service":service,
                    "price":price
                };
                postData("http://localhost:3000/service", formdata)
                    .then((data) => {
                        console.log(formdata);
                        window.location.href = '/success';
                    }).catch((error) => {
                        console.error(error);
                    });
            };
        </script>
    </body>
</html>