<!DOCTYPE html>
<html>
  <head>
    <title>Customer Lookup</title>
    <%- include('partials/head.ejs'); %>
    <style>
      /* Styles for search bar */
      .bottomrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
      }
      
      #searchBar {
        border: none;
        background-color: #f2f2f2;
        padding: 12px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        margin-bottom: 20px;
        width: 100%;
        font-size: 16px;
        color: #333;
        outline: none;
      }
      
      #searchButton {
        border: none;
        background-color: #29d7dd;
        color: white;
        padding: 12px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      
      #searchButton:hover {
        background-color: #128ad4;
      }
      
      #results {
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('partials/leftcolumn.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">
          <h1>Customer Lookup</h1>
          <form action="" method="post">
            <fieldset>
              <input name="searchValue" type="text" id="searchBar" placeholder="Search customers...">
              <input type="button" id="searchButton" onclick="search()" value="Search">
            </fieldset>
          </form>
          <div id="results">
            <ul class="list-group" id="customers" style="display: none;">
              
            </ul>
          </div>
        </div>
        <footer>
          <%- include('partials/footer.ejs'); %>
        </footer>
      </div>
    </div>
    <script>
      const sessionStorageControl = {
        //https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage
        storeItem(key, value){
          sessionStorage.setItem(key, value);
        },
        readItem(key){
          return sessionStorage.getItem(key);
        },
        removeItem(key){
          sessionStorage.removeItem(key);
        }
      }
      function search() {
        let http = new XMLHttpRequest();
        let customerList = document.getElementById("customers");
        customerList.replaceChildren();
        // HAS TO BE A POST REQUEST AS GET CANT HAVE A BODY
        http.open("POST", "http://localhost:3000/lookup", true);
        http.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var params = "searchValue="+document.getElementById("searchBar").value;
        http.send(params);
        http.onload = function(){
          let customers = JSON.parse(http.responseText);
          customers.forEach(customer => {
            let searchResult = document.createElement("a")
            let customerName = document.createTextNode(customer[3]);
            searchResult.classList.add("list-group-item");
            searchResult.setAttribute("data-cust_id", customer[0]);
            searchResult.setAttribute("onclick", "getCust_ID(this.dataset.cust_id)");
            searchResult.setAttribute("href", "/customer");
            searchResult.appendChild(customerName);
            customerList.appendChild(searchResult);
          });
          if (customerList.style.display === "none"){
            customerList.style.display = "block";
            let newSearch = true;
          }
        }
      }
      function getCust_ID(cust_id) {
        sessionStorageControl.storeItem("cust_id", cust_id);
      }
    </script>
  </body>
</html>
