<!DOCTYPE html>
<html>
  <head>
    <title>Customer Page</title>
    <%- include('partials/head.ejs'); %>
    <style>
    table, td, th {
  border-bottom: 1px solid;
  padding: 1%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1%;
}
th {
  background-color: #0e82b7;
  color: white;
}
img {
  border-radius: 100px;
  margin: 2%;
}

  </style>
  </head>
  <body id="main">
    <div class="container">
      <%- include('partials/navbar.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">
          <div class="customer-info">
            <div class="profile-photo">
              <img src="/images/profile-placeholder.png" alt="Profile Photo" width="200" height="180">
            </div>
            <div class="customer-details">
              <h1 id="custName"></h1>
              <p id="custAddress"></p>
              <p id="custPhone"></p>
              <p id="custEmail"></p>
            </div>
          </div>
          <div class="vehicle-info">
            <h2>Vehicles</h2>
            <button type="submit" class="btn btn-primary"> Add Vehicle </button>
            <br>
            <table>
              <thead>
                <tr>
                  <th>Make</th>
                  <th>Model</th>
                  <th>Year</th>
                  <th>plate</th>
                  <th>Color</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="vehicles">
                <tr>
                  <td>Hyundai</td>
                  <td>Elantra</td>
                  <td>2017</td>
                  <td>TYY4586</td>
                  <td>Black</td>
                  <td>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </td>
                </tr>
                <tr>
                  <td>Honda</td>
                  <td>Accord</td>
                  <td>2008</td>
                  <td>DEF456</td>
                  <td>Red</td>
                  <td>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br>
          <br>
          <div class="service-history">
            <h2>Service History</h2>
            <button type="submit" class="btn btn-primary"> Create Order </button>
            <br>
            <table>
              <thead>
                <tr>
                  <th>Service</th>
                  <th>Date In</th>
                  <th>Date Out</th>
                  <th>Plate</th>
                  <th>Total Amount</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody id="services">
                <tr>
                  <td>Oil Change</td>
                  <td>03/01/2023</td>
                  <td>03/01/2023</td>
                  <td>TYY4586</td>
                  <td>$29.99</td>
                  <td>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </td>
                </tr>
                <tr>
                  <td>Brake Service</td>
                  <td>02/01/2023</td>
                  <td>02/01/2023</td>
                  <td>DEF456</td>
                  <td>$299.99</td>
                  <td>
                    <button type="submit" class="btn btn-primary">Edit</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      const sessionStorageControl = {
            //https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage
            storeItem(key, value){
              sessionStorage.setItem(key, value);
            },
            readItem(key){
              return sessionStorage.getItem(key);
            },
            removeItem(key){
              sessionStorage.removeItem(key);
            }
          }
          // Read cust_id from session storage
          const cust_id = sessionStorageControl.readItem("cust_id");
          async function getCust (custID) {
            const response = await fetch("http://localhost:3000/customer");
            const customers = await response.json();
            let match = '';
            customers.forEach(customer => {
              if (customer[0] == custID){
                match = customer;
              }
            });
            return match
          }
          async function getVehicle (custID) {
            const response = await fetch("http://localhost:3000/vehicle");
            const vehicles = await response.json();
            let match = '';
            console.log(vehicles);
            vehicles.forEach(vehicle => {
              if (vehicle[1] == custID){
                match = vehicle;
              }
            });
            return match
          }
          async function getVehicleModel (modelID) {
            const response = await fetch("http://localhost:3000/vehicle-model");
            const models = await response.json();
            let match = '';
            models.forEach(model => {
              if (model[0] == id){
                match = model;
              }
            });
            return match
          }
          async function getVehicleMake (makeID) {
            const response = await fetch("http://localhost:3000/vehicle-make");
            const makes = await response.json();
            let match = '';
            makes.forEach(make => {
              if (make[0] == makeID){
                match = make;
              }
            });
            return match
          }
          async function getServiceOrder (custID, carID) {
            const reponse = await fetch("http://localhost:3000/service-order");
            const orders = await resposne.json();
            let match = '';
            orders.forEach(serviceOrder => {
              if (serviceOrder[3] == custID && serviceOrder[4] == carID){
                match = serviceOrder;
              }
            });
            return match
          }
          async function getService (serviceID) {
            const response = await fetch("http://localhost:3000/service");
            const services = await response.json();
            let match = '';
            services.forEach(service => {
              if (service[0] == serviceID){
                match = service;
              }
            });
            return match
          }
          async function getOrderStatus (orderStatusID) {
            const response = await fetch ("http://localhost:3000/order-status");
            const orderStatuses = await response.json();
            let match = '';
            orderStatuses.forEach(order_status => {
              if (order_status[0] == orderStatusID) {
                match = order_status;
              }
            });
            return match
          }

          async function createPage (custID) {
            /* CUSTOMER */ // customer
            // GET customer table
            const customer = await getCust(custID);
            const custId = customer[0];
            const custName = customer[3] || 'No Name Found';
            const custAddress = customer[4] || 'No Address Found';
            const custPhone = customer[8] || 'No Phone Number Found';
            const custEmail = customer[10] || 'No Email Found';
            // Elements for Customer Section
            const custNameEle = document.getElementById("custName");
            const custAddressEle = document.getElementById("custAddress");
            const custPhoneEle = document.getElementById("custPhone");
            const custEmailEle = document.getElementById("custEmail");
            // Add Dynamic Information
            custNameEle.textContent = custName;
            custAddressEle.textContent = custAddress;
            custPhoneEle.textContent = custPhone;
            custEmailEle.textContent = custEmail;

            /* VEHICLE */ //vehicle, vehicle_make, vehicle_model
            // GET vehicle table
            const vehicles = await getVehicle(custId);
            console.log(vehicles);
            const vehicleId = vehicles[0];
            const vehicleColor = vehicles[2] || 'No Color Found';
            const vehicleModel = vehicles[3];
            const vehicleYear = vehicles[4] || 'No Year Found';
            const vehiclePlate = vehicles[5] || 'No Plate Found';
            // GET vehicle_make table
            const vehicle_makes = await getVehicleMake(vehicleId);
            console.log(vehicle_makes);
            const makeId = vehicle_makes[0];
            const makeName = vehicle_makes[1] || 'No Make Found';
            // GET vehicle_model table
            const vehicle_models = await getVehicleModel(makeId);
            console.log(vehicle_models);
            const vehicle_modelName = vehicle_models[2];
            // Elements for Vehicle Section
            const makeEle = document.getElementById("vehicleMake");
            const modelEle = document.getElementById("vehicleModel");
            const yearEle = document.getElementById("vehicleYear");
            const plateEle = document.getElementById("vehiclePlate");
            // Add Dynamic Information ---like customerlookup.ejs


            /* SERVICE HISTORY */ //service_order, service, service_status
            // GET serivce_order table
            const serivce_order = await getServiceOrder(custId, vehicle_id);
            console.log(service_order);
            const order_status_id = serivce_order[5]
            const service_id = serivce_order[6];

            // GET service table
            const service = await getService(service_id);
            console.log(service);
            // GET service_status table
            const service_status = await getOrderStatus(order_status_id);
            console.log(service_status);
            // Elements for Serivce History Section
            const serviceEle = document.getElementById("service");
            const dateInEle = document.getElementById("datein");
            const dateOutEle = document.getElementById("dateout");
            const totalEle = document.getElementById("totalEle");
            const actionEle = document.getElementById("action");
            // Add Dynamic Information ---like customerlookup.ejs

          }
          createPage(cust_id);
          // Delete cust_id from session storage when the page is unloaded
          window.addEventListener('beforeunload', function(event) {
            sessionStorageControl.removeItem("cust_id");
          });
    </script>
  </body>
</html>
