<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs'); %>
    <title>Settings</title>
  </head>
  <body id="main">
    <div class="container">
        <%- include('partials/navbar.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#sales-tab" data-toggle="tab">Sales</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#services-tab" data-toggle="tab">Services</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="sales-tab" class="tab-pane fade show active">
              <h3>Sales Report Summary</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Revenue</th>
                    <th>Expenses</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Sales report data goes here -->
                </tbody>
              </table>
            </div>
            <div id="services-tab" class="tab-pane fade">
              <h3>Services Report Summary</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Revenue</th>
                    <th>Expenses</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Services report data goes here -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function() {
        $('.nav-link').click(function() {
          $('.nav-link').removeClass('active');
          $(this).addClass('active');
          var tabToShow = $(this).attr('href');
          $('.tab-pane').removeClass('show active');
          $(tabToShow).addClass('show active');
        });
      });
    </script>
  </body>
          </div>
        </div>
      </div>
  </body>   
</html>
