<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs'); %>
  </head>
  <body>
    <div class="container">
        <%- include('partials/leftcolumn.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">THIS IS THE settings which can give the option to change the design of the GUI
          and access database?
          create an about me page
        </div>
        <footer>
          <%- include('partials/footer.ejs'); %>
        </footer>
      </div>
    </div>        
  </body>
</html>
