<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>Dashboard</title>
        <link rel="icon" href="https://www.iconarchive.com/download/i132085/bootstrap/bootstrap/Bootstrap-car-front.1024.png" type="image/x-icon">     
      </head>
  <body id="main">
    <div class="container">
        <%- include('partials/navbar.ejs'); %>
      <div class="right-column">
        <%- include('partials/header.ejs'); %>
        <div class="bottomrow">
          <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
          <select class="form-control" id="interval-select">
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
          <div>
            <canvas id="sales-chart" style="width: 500px; height: 400px;"></canvas>

          </div>
          <script>
      $(document).ready(function() {
    var $salesChart = $('#sales-chart');
    var salesData = {
        labels: [],
        datasets: [{
            label: 'Sales',
            data: [],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };
    var salesChart = new Chart($salesChart, {
        type: 'line',
        data: salesData,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    $('#interval-select').on('change', function() {
        var interval = $(this).val();
        postData("http://localhost:3000/sales-data?interval=" + interval)
            .then(function(data) {
                salesData.labels = [];
                salesData.datasets[0].data = [];
                if (data && data.length > 0) {
                    // group sales data by month
                    var monthlySalesData = {};
                    $.each(data, function(index, row) {
                        var date = new Date(row[0]);
                        if (!isNaN(date)) {
                            var monthYear = moment(date).format('MMM YYYY');
                            if (monthlySalesData[monthYear]) {
                                monthlySalesData[monthYear] += row[1];
                            } else {
                                monthlySalesData[monthYear] = row[1];
                            }
                        }
                    });

                    // populate sales data for each month
                    $.each(monthlySalesData, function(monthYear, sales) {
                        salesData.labels.push(monthYear);
                        salesData.datasets[0].data.push(sales);
                    });
                } else {
                    salesData.labels = ['No data available'];
                    salesData.datasets[0].data = [0];
                }
                salesChart.update();
            })
            .catch(function(error) {
                console.error(error);
                // handle errors
                salesData.labels = ['Error: ' + error.message];
                salesData.datasets[0].data = [0];
                salesChart.update();
            });
    });
});

          
            async function postData(url = "", data) {
              const response = await fetch(url, {
                method: "POST",
                mode: "cors",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(data),
              });
              return response.json();
            }
          </script>
          
        </div>
      </div>
    </div>   
  </body>
</html>
