<!DOCTYPE html>
<html>
    <head>
        <%- include('partials/head.ejs'); %>
        <title>Success!</title>
    </head>
    <body>
        <div class="container">
            <div class="right-column">
                <div class="bottomrow">
                    <div class="alert alert-success" role="alert">
                        <h4 class="alert-heading">Success!</h4>
                        <hr>
                        <p>Please close this window.</p>
                      </div>                      
                </div>
            </div>
        </div>
    </body>
</html>