body {
    margin: 0;
    padding: 0;
    font-family: 'Samurai', sans-serif;
  }

  .container {
    display: flex;
    height: 100vh;
    max-width: 100%;
  }
  

  .left-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
    padding: 20px;
    background-color: #FFFFFF;
  }
  
  .logo {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .nav {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .nav a {
    margin-bottom: 10px;
    padding: 10px;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .nav a:hover {
    background-color: #bfeaff;
    width:fit-content;
  }
  
  .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200%;
    padding: 20px;
    border-left: 3px solid #ddd;
  }
  .right-column .toprow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200%;
    padding: 20px;
    border-bottom: 3px solid #ddd;
    margin-left: -3%;
  }
  
  .bottomrow {
    height: 80%;
  }

  .info {
    height: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: #666;
  }
  @font-face {
    font-family: "Samurai";
    src: url("/fonts/Samurai.ttf") format("truetype");
  }
  footer span {
    font-family: Arial, sans-serif;
  }
  .normal-font {
    font-family: Arial, sans-serif;
  }
  @media (max-width: 768px) {
    .left-column {
      padding: 10px;
    }
  }
  @media screen and (max-width: 1200px) {
    .container {
      min-width: 800px;
    }
  }
  .bottomrow {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-weight: normal;
  }
  .nav.hidden {
    display: none;
    background-color: #bfeaff;

  }
