<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head.ejs'); %>
    <title>Create Order Form</title>
    <style>
      form {
        margin-top: 100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="right-column">
        <div class="bottomrow">
        <form class="row g-3">
          <h2>Create Order Form</h2>
          <div class="col-md-4">
            <label for="color" class="form-label">Vehicle</label>
            <select id="color" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="color" class="form-label">Service</label>
            <select id="color" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div></div>
          <div class="col-md-4">
            <label for="color" class="form-label">Employee</label>
            <select id="color" class="form-select">
              <option selected></option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputtotalamount" class="form-label">Total Amount</label>
            <input type="number" class="form-control" id="totalamount"  placeholder="$" >
          </div>
          <div></div>
          <div class="col-md-2">
            <label for="inputDateIn" class="form-label">Date In</label>
            <input type="date" class="form-control" id="DateIn">
          </div>
          <div class="col-md-2">
            <label for="inputDateout" class="form-label">Date Out</label>
            <input type="date" class="form-control" id="DateOut">
          </div>
          <div class="col-md-4">
            <label for="inputOdometer" class="form-label">Odometer</label>
            <input type="number" class="form-control" id="inputOdometer">
          </div>

          <div class="col-8">
            <label for="inputDescription" class="form-label">Description</label>
            <input type="text" class="form-control" id="inputDescription"
          </div>
        </div>
          <div class="col-6">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
    </div>
    <script>
      //We need some functions here so that the dropdowns in the for above can pull from the DB
    </script>       
  </body>
</html>